osman-element{
    border: 1px solid red;
    left: 30vw;
    position: absolute;
    width: 40vw;
    height: 30vw;
    text-align: center;
    border-radius: 1vw;
    font-size: 2em;
}
.textContent {font-size: 2em;}
h1{left: 42vw;
position: absolute;}
h2{
    text-align: center;
    left: 35vw;
    position: absolute;
top: 10vw;
border: 1px solid red;
border-radius: 0.5vw;
height: 30vh;
width: 15vw;}